.vscode
auth
load-gcs-bucket-inventory-to-bigquery/venv-gcsinv

post-bigquery-response-to-slack/venv-bqsl
post-bigquery-response-to-slack/auth
load-gcs-bucket-inventory-to-bigquery/.DS_Store
.DS_Store